.info_film .row {
    height: auto;
    padding: 10px;
}

.col {
    text-align: center;
    padding: 10px;
}

.info_film input {
    width: 100%;
    height: 80%;
    text-align: center;
}

.info_film label {
    height: 20%;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px 5px 0 0;
    margin:0;
}

.info_film textarea {
    width: 100%;
    height: 200px;
    resize:none;
}
