.login_panel{
    margin-left:auto;
    margin-right:auto;
    width:30%;
    text-align:center;
}
    .login_panel div {
        text-align: center;
        width: 100%;
    }
    .login_panel input{
        width:100%;
        text-align:center;

    }